In [85]:
import pandas as pd 
import os 
import numpy as np

In [86]:
path=os.getcwd()

csv_files = [f for f in os.listdir(path) if f.endswith('.csv')]
print(csv_files)

['10k-20k_speakers.csv', '1k-5k_speakers.csv', '5k-10k_smartphones.csv', '5k-10k_speakers.csv', 'above10k_smartphones.csv', 'above20k_speakers.csv', 'consoles_10k-30k.csv', 'consoles_1k-5k.csv', 'consoles_5k-10k.csv', 'consoles_above30k.csv', 'consoles_under1k.csv', 'earphones.csv', 'headphones_10kabove.csv', 'headphones_2-10k.csv', 'headphones_under2k.csv', 'Laptops_10k-20k.csv', 'Laptops_20k-40k.csv', 'Laptops_40k-60k.csv', 'Laptops_60k-80k.csv', 'Laptops_80k-100k.csv', 'Laptops_above100k.csv', 'microwave_above10k.csv', 'Refrigerator_10-30k.csv', 'Refrigerator_under10k.csv', 'smartwatch_1-5k.csv', 'smartwatch_above5k.csv', 'smartwatch_under1k.csv', 'TV_10k-20k.csv', 'TV_20k-30k.csv', 'TV_30k-50k.csv', 'TV_50k_above.csv', 'TV_under_10k.csv', 'under1k_speakers.csv']

In [96]:

processedFrame=[]
for i in csv_files:
    df=pd.read_csv(i)
    df=df.drop(columns=["title","price/currency","description","asin","thumbnailImage","breadCrumbs","url"])
    df=df.dropna()
    df=df.drop_duplicates()
    processedFrame.append(df)

In [97]:
len(processedFrame)

33

In [98]:
file_names=csv_files

In [99]:
processedFrame[0]

               brand  stars  reviewsCount  price/value
0                JBL    4.2        8297.0      13515.0
1               Bose    4.6       26058.0      11897.0
2            Edifier    4.4        6049.0      10451.0
3                JBL    4.5         284.0      19999.0
4               Sony    4.1         570.0      14988.0
5           Marshall    4.4        4291.0      19999.0
6         Polk Audio    4.7        1159.0      17190.0
7     Bang & Olufsen    4.5        1503.0      17998.0
8           Marshall    4.6        9912.0      14950.0
9               Sony    4.1         570.0      12988.0
10          Marshall    4.1         238.0      17998.0
11               JBL    4.2        8297.0      18999.0
12            Tribit    4.5        1591.0      15081.0
13               JBL    4.4        2320.0      17998.0
14          Marshall    4.6        1006.0      17498.0
15               JBL    4.2          58.0      11249.0
16           Edifier    4.5         395.0      15762.0
17          Marshall    4.4         932.0      18998.0
18     Harman Kardon    4.6         142.0      16299.0
21    Bang & Olufsen    4.5        1503.0      20000.0
23              BOSS    4.2         484.0      13802.0
24  JBL Professional    4.3        1884.0      12240.0
25     Ultimate Ears    4.2        8540.0      13995.0
26             Artis    2.0           1.0      10999.0
27               JBL    4.4       32018.0       9998.0
28               JBL    4.4       21286.0      13998.0
29          Sonodyne    4.5          32.0      14999.0
30               JBL    4.3         692.0      12999.0
31            Yamaha    4.1         131.0      16533.0
32               JBL    4.4       21286.0      13999.0
40               JBL    4.6           9.0      17999.0
42          Marshall    4.6        1006.0      16998.0
43         Panasonic    3.8         123.0      16390.0
44            Amazon    4.1        1024.0      17999.0
45            Tribit    4.4        2580.0       8199.0
46              Sony    3.8         498.0      13990.0
49              Sony    2.8           4.0      12739.8

In [100]:
concatenated_df=pd.concat(processedFrame,ignore_index=True)

In [102]:
concatenated_df.drop(columns=['price'])

          brand  stars  reviewsCount  price/value
0           JBL    4.2        8297.0      13515.0
1          Bose    4.6       26058.0      11897.0
2       Edifier    4.4        6049.0      10451.0
3           JBL    4.5         284.0      19999.0
4          Sony    4.1         570.0      14988.0
..          ...    ...           ...          ...
421        SYVO    3.8        1963.0        449.0
422     Halonix    3.9         412.0        875.0
423  Portronics    3.6         286.0        649.0
424       PTron    3.6          18.0        598.0
425   ZEBRONICS    2.6           4.0        799.0

[426 rows x 4 columns]

In [103]:
shuffled_df =concatenated_df.sample(frac=1, random_state=42)